#contact
    .box
        h1
            font-size: 50px
            font-weight: 700
        h3
            font-size: 20px
            color: #7c8487
        .add
            input
                border: 1px solid #6b7075
                font-size: 20px
                font-weight: 700
                width: 635px
                height: 65px
            textarea
                font-size: 20px
                font-weight: 700
        .btn
            font-size: 25px
            background-color: #ffc800
            color: #ffff
            padding: 15px 37px
            opacity: 0.8
            cursor: auto
        .imgbox
            background-color: #212529
