footer
    padding: 25px 0
    h1,h2
        font-size: 18px
        cursor: text
        color: #9c9693
    h2
        margin-left: 15px
        cursor: pointer
    ul
        display: flex
        li
            padding: 11px
            margin: 0 10px
            background-color: #212529
            border-radius: 50%
            color: #ffff
            cursor: pointer
            &:hover
                background-color: #424649
                i
                    cursor: pointer
    .margin
        margin: 0 3px
    .marginn
        margin: 0 1px
