header
    .imgbox
        width: 140px
    .menu
        background-color: #212529
        height: 72px
        a
            font-size: 20px
            margin-left: 25px
            &:hover
                cursor: pointer
                color: #fdd036
