body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

header .menu {
  width: 1295px;
  height: 72px;
  position: fixed;
  z-index: 1;
  background-color: #212529;
}
header .menu .imgbox {
  width: 140px;
}
header .menu a {
  font-size: 20px;
  margin-left: 25px;
}
header .menu a:hover {
  cursor: pointer;
  color: #fdd036;
}

#ourstudio .box {
  position: relative;
  color: white;
}
#ourstudio .box h1 {
  font-size: 40px;
  position: absolute;
  top: 335px;
  left: 463px;
}
#ourstudio .box h3 {
  font-size: 80px;
  font-weight: 700;
  position: absolute;
  top: 395px;
  left: 295px;
}
#ourstudio .box .btn {
  padding: 17px 47px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 21px;
  background-color: #ffc800;
  color: white;
  position: absolute;
  top: 535px;
  left: 510px;
}

#services {
  padding: 100px 0;
}
#services .textbox {
  text-align: center;
}
#services .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#services .textbox h3 {
  font-size: 20px;
  color: #7c8487;
  margin: 20px 0 65px;
}
#services .textbox .icon {
  margin: 0 145px;
  padding: 30px 0;
  background-color: #ffc800;
  color: white;
  font-size: 63px;
  border-radius: 50%;
}
#services .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 12px 0 20px;
}
#services .textbox h4 {
  font-size: 20px;
  color: #7c8487;
  line-height: 1.4;
}

#portfolio {
  padding: 100px 0;
  background-color: #f8f9fa;
}
#portfolio .textbox {
  text-align: center;
}
#portfolio .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#portfolio .textbox h4, #portfolio .textbox h3 {
  font-size: 20px;
  color: #7c8487;
  margin: 20px 0 62px;
}
#portfolio .box {
  padding: 0 0 25px;
  margin: 0 0 23px;
  background-color: #ffffff;
}
#portfolio .box .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 25px 0 0;
}
#portfolio .box .textbox h3 {
  margin: 10px 0 0;
}

#about {
  padding: 100px 0;
}
#about h1 {
  font-size: 50px;
  font-weight: 700;
}
#about h3 {
  font-size: 20px;
  color: #7c8487;
  margin-top: 20px;
}
#about .box {
  margin: 60px 39px;
}
#about .box .textbox {
  margin: 0 55px 0;
  width: 420px;
}
#about .box .textbox h2, #about .box .textbox h4 {
  font-size: 30px;
  font-weight: 700;
}
#about .box .textbox h4 {
  margin: 10px 0;
}
#about .box .textbox p {
  font-size: 20px;
  color: #7c8487;
  line-height: 1.4;
}
#about .imgbox {
  width: 150px;
  border-radius: 50%;
}
#about .bgc {
  margin-top: 70px;
  padding: 35px 45px;
  border-radius: 50%;
  background-color: #ffc800;
}
#about .bgc h2 {
  width: 70px;
  font-size: 23px;
  font-weight: 700;
  color: white;
  line-height: 1.3;
}

#team {
  background-color: #f8f9fa;
  padding: 100px 0;
}
#team h1 {
  font-size: 50px;
  font-weight: 700;
}
#team h4 {
  font-size: 20px;
  color: #7c8487;
  margin: 20px 0 65px;
}
#team .imgbox {
  border-radius: 50%;
  width: 210px;
}
#team .textbox {
  text-align: center;
}
#team .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 25px 0 7px;
}
#team .textbox h3 {
  font-size: 20px;
  color: #7c8487;
}
#team .textbox ul {
  display: flex;
  justify-content: center;
}
#team .textbox ul li {
  padding: 11px;
  margin: 20px 11px 0;
  background-color: #212529;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
#team .margin {
  margin: 0px 3px;
}
#team .marginn {
  margin: 0 1px;
}
#team h5 {
  margin-top: 50px;
  font-size: 20px;
  color: #7c8487;
  width: 820px;
  line-height: 1.4;
}

#microsoft {
  padding: 60px 0;
}
#microsoft .imgbox {
  width: 200px;
}
#microsoft .google {
  width: 120px;
}
#microsoft .facebook {
  width: 170px;
}
#microsoft .ibm {
  width: 110px;
}

#contact .box h1 {
  font-size: 50px;
  font-weight: 700;
}
#contact .box h3 {
  font-size: 20px;
  color: #7c8487;
}
#contact .box .add input {
  border: 1px solid #6b7075;
  font-size: 20px;
  font-weight: 700;
  width: 635px;
  height: 65px;
}
#contact .box .add textarea {
  font-size: 20px;
  font-weight: 700;
}
#contact .box .btn {
  font-size: 25px;
  background-color: #ffc800;
  color: white;
  padding: 15px 37px;
  opacity: 0.8;
  cursor: auto;
}
#contact .box .imgbox {
  background-color: #212529;
}/*# sourceMappingURL=style.css.map */